html{
    overflow: auto;
}
body {
    background-color: #323232;
    overflow: hidden;
}

.chat-sign-button{
    width: 50px;
    height: 50px;
    font-size: 24px;
}

.img1 {
    position: absolute;
    top: 50%;
    left: 50px;
    width: 100px;
    height: 100px;
    z-index: -1;
    animation: moveIcon 10s linear infinite;
}


.typewriter {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
    width: 0; /* Mulai dengan lebar 0 */
    text-align: center; /* Pusatkan teks dalam elemen */
    animation: typing 4s steps(30, end) forwards, blink-caret 0.75s step-end infinite;
    position: relative;
    color: #14FFEC;
    padding-top: 40px;
    left: 50%;
    transform: translateX(-50%);
}



#fadeInElement1{
    text-align: center;
    color: #14FFEC;
    font-size: 25px;
}

.fade-in1 {
    opacity: 0; /* Mulai dengan opacity 0 */
    transition: opacity 2s ease-in-out; /* Durasi dan tipe transisi */
}
.fade-in1.visible1 {
    opacity: 1; /* Setelah kelas .visible ditambahkan, opacity menjadi 1 */
}



#fadeInElement2{
    text-align: center;
    color: #14FFEC;
    font-size: 25px;
}

.fade-in2 {
    opacity: 0; /* Mulai dengan opacity 0 */
    transition: opacity 2s ease-in-out; /* Durasi dan tipe transisi */
}
.fade-in2.visible2 {
    opacity: 1; /* Setelah kelas .visible ditambahkan, opacity menjadi 1 */
}



#fadeInElement3{
    text-align: center;
    color: #14FFEC;
    font-size: 25px;
}

.fade-in3 {
    opacity: 0; /* Mulai dengan opacity 0 */
    transition: opacity 2s ease-in-out; /* Durasi dan tipe transisi */
}
.fade-in3.visible3 {
    opacity: 1; /* Setelah kelas .visible ditambahkan, opacity menjadi 1 */
}





@keyframes typing {
    from {width: 0;}
    to {width: 100%; /* Tampilkan teks sepenuhnya */}
}

@keyframes blink-caret {
    0%, 100% {border-right: 2px solid transparent; /* Hapus border kursor */}
    50% {border-right: 2px solid transparent; /* Ganti dengan ikon kustom */}
}

@keyframes moveIcon {
    from {
        transform: translateX(-5vw);
    }
    to {
        transform: translateX(85vw);
    }
}